<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="profile" content="https://themeforest.net/user/mironcoder">
<title>Web bán thiết bị âm thanh</title>
<link rel="icon" href="images/webicon.png" />
<link rel="stylesheet" href="fonts/flaticon/flaticon.css">
<link rel="stylesheet" href="fonts/icofont/icofont.min.css">
<link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css">
<link rel="stylesheet" href="vendor/venobox/venobox.min.css">
<link rel="stylesheet" href="vendor/slickslider/slick.min.css">
<link rel="stylesheet" href="vendor/niceselect/nice-select.min.css">
<link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/contact.css">
</head>

<body>

	<header th:replace="~{/web/fragments/header :: header}"></header>

	<section class="inner-section single-banner"
		style="background: url(images/bannerhome.jpg) no-repeat center;">
		<div class="container">
			<h2>Chăm sóc khách hàng</h2>
		</div>
	</section>
	<section class="inner-section contact-part">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="contact-map">
						<img
							src="images/customercare.jpg"
							aria-hidden="false" tabindex="0"
							style="width: 100%"
							></img>
					</div>
				</div>
				<div class="col-lg-6">
					<form class="contact-form">
						<h4>Hãy gửi thắc mắc của bạn cho chúng tôi!</h4>
						<div class="form-group">
							<div class="form-input-group">
								<input class="form-control" type="text"
									placeholder="Email của bạn"><i class="icofont-email"></i>
							</div>
						</div>
						<div class="form-group">
							<div class="form-input-group">
								<input class="form-control" type="text" placeholder="Tiêu đề"><i
									class="icofont-book-mark"></i>
							</div>
						</div>
						<div class="form-group">
							<div class="form-input-group">
								<textarea class="form-control" placeholder="Nội dung"></textarea>
								<i class="icofont-paragraph"></i>
							</div>
						</div>
						<button type="submit" class="form-btn-group" style="background-color: #cf558a">
							<i class="fas fa-envelope"></i> <span>Gửi tin nhắn</span>
						</button>
					</form>
				</div>
			</div>
	</section>
	
	<footer th:replace="~{/web/fragments/footer :: footer}"></footer>

	<script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
	<script src="vendor/bootstrap/popper.min.js"></script>
	<script src="vendor/bootstrap/bootstrap.min.js"></script>
	<script src="vendor/countdown/countdown.min.js"></script>
	<script src="vendor/niceselect/nice-select.min.js"></script>
	<script src="vendor/slickslider/slick.min.js"></script>
	<script src="vendor/venobox/venobox.min.js"></script>
	<script src="js/nice-select.js"></script>
	<script src="js/countdown.js"></script>
	<script src="js/accordion.js"></script>
	<script src="js/venobox.js"></script>
	<script src="js/slick.js"></script>
	<script src="js/main.js"></script>
</body>
</html>