<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
	<footer class="footer-part" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xl-6">
					<div class="footer-widget">
						<a class="footer-logo" href="javascript:void(0);"> <img
							src="/images/logo/weblogo.png" alt="logo" />
						</a>
						<p class="footer-desc">AudioShop chuyên
							cung cấp các sản phẩm âm thanh chất lượng cao, từ loa, tai nghe
							đến các thiết bị âm thanh chuyên nghiệp. Với sứ mệnh mang đến
							trải nghiệm âm nhạc tuyệt vời cho khách hàng, AudioShop không
							ngừng cập nhật những sản phẩm mới nhất và đa dạng từ các thương
							hiệu nổi tiếng. Trang web cung cấp thông tin chi tiết về từng sản
							phẩm, giúp khách hàng dễ dàng lựa chọn và mua sắm. Với dịch vụ tư
							vấn nhiệt tình và chính sách bảo hành uy tín, AudioShop cam kết
							mang đến sự hài lòng tối đa cho khách hàng.</p>
						<ul class="footer-social">
							<li><a class="icofont-facebook" href="javascript:void(0);" style="color: #cf558a"></a></li>
							<li><a class="icofont-instagram" href="javascript:void(0);" style="color: #cf558a"></a></li>
							<li><a class="icofont-pinterest" href="javascript:void(0);" style="color: #cf558a"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-xl-6">
					<div class="footer-widget contact">
						<h3 class="footer-title">Thông tin liên hệ</h3>
						<ul class="footer-contact">
							<li><i class="icofont-ui-email" style="color: #cf558a"></i>
								<p>
									<span>audioshop@gmail.com</span>
								</p></li>
							<li><i class="icofont-ui-touch-phone" style="color: #cf558a"></i>
								<p>
									<span>Hotline: 0808-4545</span>
								</p></li>
							<li><i class="icofont-location-pin" style="color: #cf558a"></i>
								<p>12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, Thành phố Hồ Chí
									Minh</p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="footer-bottom" style="background-color: #cf558a">
						<p class="footer-copytext">20022531_VoTrongTai</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>